VITE_HACKATIME_CLIENT_ID=
VITE_HACKATIME_AUTH_URL=https://hackatime.hackclub.com/oauth/authorize
VITE_HACKATIME_TOKEN_URL=https://hackatime.hackclub.com/oauth/token
VITE_HACKATIME_API_URL=https://hackatime.hackclub.com/api/v1